
if SHIELD_HAWKV0_LEFT

config ZMK_KEYBOARD_NAME
    default "HawkV01"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HAWKV01_LEFT || SHIELD_HAWKV01_RIGHT

config ZMK_SPLIT
    default y

endif

